League of Legends is a game that has captivated the world since its debut in 2009. From all walks of life, players are passionate and ready to tell Riot at their mercy when they believe a champion needs to be buffed or nerfed. In this analysis, I will be attempting to be a league of legends Balance Team Analyst to bring a list of champions that may be nerfed for the upcoming patch release. From this analysis we will be analyzing Win Rates and Ban Rates provided by (https://www.kaggle.com/datasets/vivovinco/league-of-legends-champion-stats).

In [2]:
import pandas as pd

I will first start by importing the CSV to Pandas and putting it into a dataframe with a ';' Delimiter

In [27]:
df = pd.read_csv('C:/Users/Micha/Desktop/Data Analysis Practice/League of Legends Nerf or Buff/League of Legends Champion Stats 12.18.csv'
                    ,sep = ';'
                    ,engine = 'python')

In [4]:
df.head(5)

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
0,Aatrox,Fighter,TOP,God,90.73,-0.25,49.95%,93.20%,14.50%,26.23%,1.94
1,Ahri,Mage,MID,S,61.32,-3.47,49.37%,94.54%,6.92%,3.28%,2.48
2,Akali,Assassin,MID,S,67.06,-1.56,48.37%,74.49%,8.24%,14.46%,2.36
3,Akali,Assassin,TOP,B,44.92,2.34,47.21%,24.65%,2.74%,14.46%,2.03
4,Akshan,Marksman,MID,A,49.99,1.25,51.65%,65.06%,2.63%,5.04%,2.23

Riot Utilizes 3 main metrics in terms of deciding what champions need to be balanced, Win Rate, Ban Rate and Pick Rate. These alongside Champion Name and Role will be included in the next dataset. All other columns will be dropped.

In [28]:
df.drop(["Class", "Tier", "Score", "Trend", "Role %", "KDA"], axis = 1, inplace=True)
df

       Name     Role   Win %  Pick %   Ban %
0    Aatrox      TOP  49.95%  14.50%  26.23%
1      Ahri      MID  49.37%   6.92%   3.28%
2     Akali      MID  48.37%   8.24%  14.46%
3     Akali      TOP  47.21%   2.74%  14.46%
4    Akshan      MID  51.65%   2.63%   5.04%
..      ...      ...     ...     ...     ...
238  Zilean  SUPPORT  51.41%   3.40%   2.33%
239  Zilean      MID  51.54%   0.73%   2.33%
240     Zoe      MID  48.86%   3.77%   1.97%
241     Zoe  SUPPORT  47.17%   0.50%   1.77%
242    Zyra  SUPPORT  52.55%   4.02%   2.49%

[243 rows x 5 columns]

I will then change some of the object oriented variables into floats for analysis

In [29]:
df['Win %'] = df['Win %'].str.replace('%', '')
df['Ban %'] = df['Ban %'].str.replace('%', '')
df['Pick %'] = df['Pick %'].str.replace('%', '')
df['Pick %'] = df['Pick %'].astype(float)
df['Ban %'] = df['Ban %'].astype(float)
df['Win %'] = df['Win %'].astype(float)
df.head(5)

     Name Role  Win %  Pick %  Ban %
0  Aatrox  TOP  49.95   14.50  26.23
1    Ahri  MID  49.37    6.92   3.28
2   Akali  MID  48.37    8.24  14.46
3   Akali  TOP  47.21    2.74  14.46
4  Akshan  MID  51.65    2.63   5.04

Now I will be creating a dataframe copy for the analysis with the variables we need for this analysis; Champion Names, Roles, Win %, and Ban % for nerfs and Champion Names, Roles, Win %, and Pick %.

In [31]:
nerf_league_df = df[['Name', 'Role', 'Win %', 'Ban %']]
buff_league_df = df[['Name', 'Role', 'Win %', 'Pick %']]
nerf_league_df.head(5)

     Name Role  Win %  Ban %
0  Aatrox  TOP  49.95  26.23
1    Ahri  MID  49.37   3.28
2   Akali  MID  48.37  14.46
3   Akali  TOP  47.21  14.46
4  Akshan  MID  51.65   5.04

The first Submission we will be evaluating for the balance team is a list of champions we believe should be Nerfed. Please note that some of the criteria for nerf had to be altered for the purpose of this analysis as the data was not present. For a full list of criteria please go to (https://www.esports.net/news/lol/riot-games-buff-nerf-criteria/) for a more comprehensive list.

Riot will nerf a champion if ANY of the statements are true:

If a champion has a win rate higher than 52.5%.

If the ban rate exceeds 45%.

In [38]:
nerf = nerf_league_df.loc[(nerf_league_df['Win %'] >= 52.5) | (nerf_league_df['Ban %'] > 45)]
nerf['Name'].unique()

array(["Bel'Veth", 'Cassiopeia', 'Diana', 'Heimerdinger', 'Janna',
       'Karthus', 'Neeko', 'Nilah', 'Pantheon', 'Rell', 'Renata Glasc',
       'Seraphine', 'Singed', 'Skarner', 'Swain', 'Zac', 'Zyra'],
      dtype=object)

The Second Submission we will be evaluating for the balance team is a list of champions we believe should be Buffed. Please note that some of the criteria for nerf had to be altered for the purpose of this analysis as the data was not present. For a full list of criteria please go to (https://www.esports.net/news/lol/riot-games-buff-nerf-criteria/) for a more comprehensive list.

Riot will buff a champion if ALL of the statements are true:

Below 49% win rate average between Iron 4 and Gold 1.

Below 49% win rate average between Plat 4 and Grandmaster.

Below 5% of games pick the certain champion in Challenger.

Below 5% of games pick the certain champion in professional play.

In [37]:
buff = buff_league_df.loc[(buff_league_df['Win %'] < 49) & (buff_league_df['Pick %'] < 5)]
buff['Name'].unique()

array(['Akali', 'Alistar', 'Anivia', 'Annie', 'Ashe', 'Aurelion Sol',
       'Azir', 'Brand', 'Cassiopeia', 'Corki', 'Fizz', 'Galio',
       'Gangplank', 'Gnar', 'Gragas', 'Gwen', 'Ivern', 'Jayce', 'Kalista',
       'LeBlanc', 'Lissandra', 'Malphite', 'Nidalee', 'Pantheon',
       'Qiyana', 'Rakan', 'Renekton', 'Rengar', 'Rumble', 'Ryze',
       'Syndra', 'Tahm Kench', 'Talon', 'Twisted Fate', 'Udyr', 'Varus',
       'Wukong', 'Xayah', 'Yasuo', 'Yone', 'Zed', 'Zeri', 'Zoe'],
      dtype=object)

Please note that for the purpose of this analysis, stratified data such as Rankings are not within the dataset and analyzing the data for specific rankings was not included